<template>
  <v-container>
    <BarraSuperior></BarraSuperior>
    <v-row>
      <v-col cols="6">
        <VerUnaTarea 
          v-for="(item, index) in listaTareas" :key="item.id"
          :Id=item.id
          :Numero=index 
          :Titulo=item.titulo 
          :Detalle=item.detalle
        >
        </VerUnaTarea>
      </v-col>
      <v-col cols="6">
        <EditarTarea></EditarTarea>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

import VerUnaTarea from '@/components/VerUnaTarea.vue'
import EditarTarea from '@/components/EditarTarea.vue'
import BarraSuperior from '@/components/BarraSuperior.vue'

import {mapState, mapActions} from 'vuex';

export default {
  name: 'Home',
  components: {
    VerUnaTarea, EditarTarea, BarraSuperior
  },
  computed: {
    ...mapState(['listaTareas'])
  },
  methods: {
    ...mapActions(['cargarListaTareas'])
  },
  data() {
    return {
      mostrarMenu: true
    }
  },
  created() {
    this.cargarListaTareas()
  }
}
</script>
