<template>
    <div>
        <ListaTareas></ListaTareas>
    </div>
</template>



<script>

import ListaTareas from '@/components/ListaTareas.vue'

export default {
    name: 'ListaTareas'
}
</script>