<template>
  <div>
    <v-app-bar color="deep-purple accent-4" dense dark>
        <v-app-bar-nav-icon @click="mostrarNavigationDrawer=true"></v-app-bar-nav-icon>
        <v-toolbar-title>NT2 - Gestor de tareas</v-toolbar-title>
    </v-app-bar>
    <v-navigation-drawer v-model="mostrarNavigationDrawer" absolute temporary>
        <v-list-item>
            <v-list-item-avatar><v-img src="@/assets/leolob.jpg"></v-img></v-list-item-avatar>
            <v-list-item-content><v-list-item-title>Leo Lob</v-list-item-title></v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item link>
            <v-list-item-content>
                <v-list-item-title>Tablero</v-list-item-title>
                <v-list-item-subtitle>Dashboard principal del sistema</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
        <v-list-item link>
            <v-list-item-content>
                <v-list-item-title>Cerrar sesion</v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
    name: 'BarraSuperior',
    data() {
        return {
            mostrarNavigationDrawer: false
        }
    }

}
</script>