<template>
    <v-card class="my-3">
        <v-card-title>{{tituloAccionActual}}</v-card-title>
        <v-form v-model="valid" lazy-validation ref="form">
            <v-container>
                <v-text-field v-model="titulo" :counter=20 :rules="tituloReglas" label="Titulo" ref="titulo"></v-text-field>
                <v-textarea label="Detalle" v-model="detalle" :rules="detalleReglas" rows="3" ></v-textarea>
                <v-btn block color="success" @click="guardarTarea">{{textoBoton}}</v-btn>
                
            </v-container>
        </v-form>

        <v-snackbar v-model="snackbar.mostrar" :timeout="3000">
            {{snackbar.mensaje}}
            <template v-slot:action="{ attrs }">
                <v-btn color="pink" v-bind="attrs" text @click="snackbar.mostrar = false">Cerrar</v-btn>
            </template>
        </v-snackbar>
    </v-card>
</template>

<script>


import {mapActions, mapState} from 'vuex';

export default {
    name: 'EditarTarea',
    data() {
        return {
            tituloAccionActual: '-----',
            textoBoton: '',
            titulo: null,
            detalle: null,
            tareaActual: null,
            tituloReglas: [
                v => !!v || 'El titulo es obligatorio',
                v => (v && v.length<=20) || 'El título no puede tener mas de 10 caracteres'
            ],
            detalleReglas: [
                v => !!v || 'El detalle es obligatorio'
            ],
            valid: true,
            snackbar: {mostrar: false, mensaje: ''}
        }
    },
    methods: {
        ...mapActions(['agregarTarea', 'actualizarTarea', 'actualizarAccionActual']),
        guardarTarea() {
            this.valid=this.$refs.form.validate()
            if (this.valid) {
                this.tareaActual.titulo=this.titulo
                this.tareaActual.detalle=this.detalle
                if (this.accionActual.modo==='alta') {
                    this.agregarTarea(this.tareaActual)
                } else {
                    this.actualizarTarea(this.tareaActual)
                }
                this.actualizarEstado({modo: 'alta', tarea: {titulo: '', detalle: ''}})
                this.$refs.form.reset()
            } else {
                this.snackbar.mensaje="Dale, che!!!"
                this.snackbar.mostrar=true
            }
        },
        actualizarEstado(accionActualizada) {
            this.actualizarAccionActual(accionActualizada)
            this.tareaActual=accionActualizada.tarea
            if (accionActualizada.modo=='alta') {                
                this.tituloAccionActual='Crear nueva tarea'
                this.titulo=''
                this.detalle=''
                this.textoBoton='Agregar tarea'
            } else {
                this.tituloAccionActual='Editar una tarea'
                this.titulo=accionActualizada.tarea.titulo
                this.detalle=accionActualizada.tarea.detalle
                this.textoBoton='Guardar cambios'
            }
        }
    },
    computed: {
        ...mapState(['accionActual'])
    },
    watch: {
        accionActual (newAccion, oldAction) {
            if (oldAction.modo!==newAccion.modo) {
                this.actualizarEstado(newAccion);
                this.$refs.titulo.focus();
            }
        }
    },
    created() {
        this.actualizarEstado({modo: 'alta', tarea: {}})
    }
}
</script>