<template>
    <v-row justify="center">
        <v-col>
            <v-card>
                <v-card-text class="my-0">
                    <v-chip class="ma-2 ml-0" color="pink" label text-color="white" >
                    <v-icon left>mdi-label</v-icon>
                    (Id: {{Id}}) {{Titulo}}
                    </v-chip>
                    <p>{{Detalle}}</p>
                    <v-btn color="warning" class="ml-0 mr-3" @click="editarTareaActual" >Editar</v-btn>
                    <v-btn color="error" @click="confirmacionEliminarMostrar=true">Eliminar</v-btn>
                </v-card-text>
            </v-card>
            <v-dialog v-model="confirmacionEliminarMostrar" max-width="400">
                <v-card>
                    <v-card-title >Confirma la eliminación de la tarea?</v-card-title>
                    <v-card-text>Esta acción no puede deshacerse</v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red" @click="confirmacionEliminarMostrar=false; eliminarTarea(Id);"  >Confirmar</v-btn>
                        <v-btn color="red" text @click="confirmacionEliminarMostrar=false">Cancelar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-col>
    </v-row>
</template>


<script>

import {mapMutations, mapState} from 'vuex';

export default {
    name: 'VerUnaTarea',
    props: {
        Id: Number,
        Numero: Number,
        Titulo: String,
        Detalle: String
    },
    methods: {
        ...mapMutations(['eliminarTarea', 'cambiarAccionActual']),
        editarTareaActual() {
            this.cambiarAccionActual({modo: 'editar', tarea: {id: this.Id, titulo: this.Titulo, detalle: this.Detalle}})
        }
    },
    data() {
        return {
            confirmacionEliminarMostrar: false
        }
    }
}
</script>