<template>
  <v-app>
    <v-content>
      <router-view></router-view>
      <v-dialog v-model="loading.estado" hide-overlay persistent width="300">
        <v-card :color=loading.color dark>
          <v-card-text>
            {{loading.titulo}}
            <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-content>
  </v-app>
</template>

<script>

import {mapState, mapMutations} from 'vuex';

export default {
  name: 'App',
  computed: {
    ...mapState(['loading'])
  },
  actions: {
  },
  methods: {
    ...mapMutations(['leerTareasDeAPI']),
    cargarListaDeTareas() {
      this.leerTareasDeAPI()
    }
  },
  created() {
    //this.cargarListaDeTareas()
  }
};
</script>
